@font-face{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-style: normal; 
    font-weight: 600; 
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-style: normal; 
    font-weight: 700; 
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    font-style: normal; 
    font-weight: 800; 
}
.cards__image 
{
    width: 111px;
    height: 38px;
    top: 18px;
    left: 16px;
    padding: 0px, 0px, 0px, 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 768px;
    min-height: 2976px;
    top: -2136px;
    left: -384px;
}
span {
    text-align: center;
    vertical-align: middle;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFF;
    column-gap: 40px;
}
.header-item {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
}
.intro {
    margin-top: 160px;
    display: flex;
    gap: 128px;
}
.center_header {
    display: block;
    min-height: 74px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;
}
.left {
    max-width: 1146px;
    margin-left: auto;
}
.column {
    background-color: #F16D7F;
    width: 24px;
    left: 56px;
    height: auto;
    gap: 30px;
}

.square {
    min-width: 360px;
    min-height: 260px;
    background-color: black;
}

.rectangle 
{
    min-width: 1140px;
    min-height: 170px;
    background-color: black;
}

.intro-upper-title {
    color: #222222;
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}
.intro-title {
    color: #FFF;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-top: 10px;
}
.intro-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-top: 40px;
    max-width: 558px;
}
.intro-button {
    font-family: "Open Sans", sans-serif;
    padding: 15px 30px;
    max-width: 1600px;
    max-height: 75px;
    border-radius: 5px;
    background-color: #222222;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.button-withIcon {
    display: flex;
    gap: 10px;
    align-items: center;
}
.imageText {
    margin-top: 157px;
    display: flex;
    justify-content: center;
    gap: 68px;
  }
  .leftText {
    align-self: center;
    color: white;
  }
  .titleText {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .descText {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-top: 30px;
  }
  .buttonWrapperText {
    margin-top: 50px;
  }
  .image-text {
    display: flex;
    margin-top: 243px;
    min-width: 1600px;
    min-height: 764px;
    top: 75;
    background-color: #F1E4E6;
  }
  .image-text_leftText {
    align-self: center;
    color: white;
    max-width: 548px;
  }
  .leftText__titleText {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
  }
  .leftText__descText {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-top: 20px;
    max-width: 460px;
  }

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 132px;
    text-align: center;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 30px; */
    margin-top: 132px;
    text-align: center;
}
.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px; */
    text-align: center;
    gap: 30px;
    border-radius: auto;
}


.image_1 {
    top: 507px;
    left: 519.11px;
    background-image: url(img/6.png);
    background-size: cover;
}

.image_2 {
    top: 527px;
    left: 539.11px;
    background-image: url(img/4.png);
    background-size: cover;
}

.image_3 {
    top: 547px;
    left: 559.11px;
    background-image: url(img/3.png);
    background-size: cover;
    
}
.image_4 {
    top: 696.96px;
    left: 16.36px;
    background-image: url(img/5.png);
    background-size: cover;
}

.featured__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px; */
    text-align: left;
    max-height: 582px;
    max-width: 360px;
    gap: 30px;
    border-radius: 1px;
    background: #F8F8F8;
    /* color: white; */
}

.services__item-image {
    min-width: 98px;
    min-height: 103px;
}
.services__item-image-big {
    width: 306px;
    height: 322px;
}
.item-big {
    grid-column: span 2;
    grid-row: span 2;
}
.services__item-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}
.services__item-desc {
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}
.footer {
    margin-top: 221px;
    background-color: #020b1b;
    border-radius: 10px;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    padding: 48px 40px;
    align-content: center;
    gap: 30px;
}
.footer__item {
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.footer__item-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.item-content__element {
    display: flex;
    align-items: center;
    gap: 10px;
}
.item-content-logos {
    display: flex;
    gap: 24px;
}

@media (min-width: 320px) and (min-height: 767px)
{
    body
    {
        min-width: 375px;
        max-height: 5367px;
        top: -3340px;
        left: -187px;
        
    }
    .services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        margin-top: 132px;
        text-align: center;
    }
    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 132px;
        text-align: center;
    }
}

